<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
	</head>
	<body class="bg-dark">
		<div class="container">
			<div class="row min-vh-100 d-flex justify-content-center align-items-center">
				<div class="w-50">
					<div
						class="col-12 bg-danger text-white text-center d-flex align-items-center justify-content-center"
						style="height: 250px"
					>
						<h2>USER ERROR SIGNUP</h2>
					</div>
					<div class="col-12 bg-primary text-center border">
						<button type="submit" class="btn btn-primary w-100 my-2 fw-bold fs-4">
							<a class="text-white text-decoration-none" href="/signup">RETURN</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
