<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
	</head>
	<body class="bg-dark">
		<div class="container">
			<div class="row min-vh-100 d-flex justify-content-center align-items-center">
				<div class="w-25">
					<div class="col-12 p-4 bg-light jumbotron text-center">
						<h2>Login</h2>
						<img
							src="img/logoPets.png"
							class="rounded-circle mx-auto d-block m-5"
							style="width: 50%"
							alt="logo"
						/>
						<form class="form-inline" action="/login" method="post" autocomplete="off">
							<div class="form-group">
								<label for="userEmail">Enter your email</label>
								<input id="userEmail" class="form-control" type="email" name="userEmail" required />
								<label for="password">Enter your password</label>
								<input
									id="password"
									class="form-control"
									type="password"
									name="password"
									required
								/>
							</div>
							<button type="submit" class="btn btn-success mt-3">Send</button>
						</form>
					</div>
					<div class="col-12 bg-primary text-center border">
						<button type="submit" class="btn btn-primary w-100 my-2 fw-bold fs-4">
							<a class="text-white text-decoration-none" href="/signup">SIGN UP</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
