<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body class="bg-dark container">
    <h1 class="text-center mt-4 bg-dark">Pets Shop</h1>
    <div class="row bg-dark">
        <div class="mt-5 p-4 bg-light jumbotron col-md-4 offset-md-4 text-center bg-dark">
            <p class="display-5 fw-bold bg-dark text-white">Session closed!!! Goodbye <%= nameUser %></p>
        </div>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 2000)
    </script>
</body>
</html>